.form
  .fieldset
    = f.label :name
    = f.text_field :name
  .fieldset
    = f.label :description
    = f.text_area :description, rows: 3
  .fieldset
    = f.label :price
    = f.text_field :price
  .fieldset
    = f.label :currency
    = f.select :currency, currency_for_select
  .fieldset
    = f.label :picture
    = f.file_field :picture

= f.submit
-#- binding.pry
#preview
  = link_to "preview", preview_products_path, rel: "facebox"

:javascript
  $("#preview").on("click","a",function(e){
    e.preventDefault()
    $.ajax({
      url: "/products/preview",
      data: $("form").serialize(),
      method: "POST",
      dataType: "HTML"
    }).success(function(data){
      $("#new_product").hide()
      $(".span13").append(data)
    })

    $(document).on("click","#submit_button",function(){
      $("form").submit()
    })
    $(document).on("click","#back_button",function(){
      console.log($("body").find("#preview"))
      $("body").find("#preview_page").hide().end().find("form").show()
    })
  })
