%h1 Listing currencies

%table.table.table-striped
  %tr
    %th="ID"
    %th="price"
    -#%th="RATE"
    %th


  - @products.each do |product|
    %tr
      %td=product.id
      %td
        = t('currency.uah_price', price: MoneyUtils.usd_to_uah(product.price))
        = t('currency.usd_price', price: product.price)
      -#%td=number_with_precision(currency.rate, :precision => 2)
      %td
        %div.btn-group
          %a.btn.dropdown-toggle{"data-toggle"=>"dropdown", "href"=>"#"}
            Action
            %span.caret

          %ul.dropdown-menu
            %li= link_to 'Show', product
            %li= link_to 'Edit', edit_product_path(product)
            %li= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Currency', new_product_path

:javascript
  $('.dropdown-toggle').dropdown()