%div
  %span
    = t('.email_identification')

    = f.label t('.email')
    = f.text_field :email

    = f.label t('.name')
    = f.text_field :name

= f.submit
%button.do-not-show-again= t('.no_thanks')
