.page-header
  = link_to categories_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_category_path(@category), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to new_category_sub_folder_path(category), class: 'btn btn-success', rel: :facebox do
    %span.glyphicon.glyphicon-plus
    = t('.add_new_folder')

  %h1=t('.category_title', title: @category.title)

= render sub_folders


= button_tag(t('.synchronize_categories'), id: 'sync_filters', class: 'btn btn-primary')


:javascript
  $(function(){
    new Store.Categories();
  })